<style>
@font-face {
  font-family: "IMFellEnglish";
  src: url('/fonts/imfellenglish-regular-webfont.woff2') format('woff2'),
       url('/fonts/imfellenglish-regular-webfont.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: "IMFellEnglish";
  src: url('/fonts/imfellenglish-italic-webfont.woff2') format('woff2'),
       url('/fonts/imfellenglish-italic-webfont.woff') format('woff');
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Grenze";
  src: url('/fonts/grenze-semibold-webfont.woff2') format('woff2'),
       url('/fonts/grenze-semibold-webfont.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: "Grenze";
  src: url('/fonts/grenze-semibold-italic-webfont.woff2') format('woff2'),
       url('/fonts/grenze-semibold-italic-webfont.woff') format('woff');
  font-style: italic;
  font-display: fallback;
}
</style>
