<div class="flex flex-row pb-2">
    {{- range .Site.Data.social_links }}
    {{ $icon := resources.Get .icon }}
    {{ if and (not (eq $icon.MediaType.SubType "svg")) $icon }}
    {{ $icon = $icon.Resize "60x webp q100" }}
    {{ end }}
    <a href="{{ .link }}" class="mr-3 overflow-clip flex flex-col justify-center">
        <img width="30" height="30" src="{{ and $icon $icon.RelPermalink }}" alt="{{ .name }}">
    </a>
    {{- end }}
</div>
<p>© {{ now.Year }} No Such Animal. Website by Seth Jensen.</p>
