  <nav class="flex flex-row justify-center">
    {{ $logo := resources.Get "images/nsa-logo-blackletter-lgj.svg" }}
    <a href="/">
      <img src="{{ $logo.RelPermalink }}" width="300" height="100" class="p-2" alt="No Such Animal">
    </a>
    {{- with index site.Menus "main" }}
    <ul>
    {{- range .menuEntries }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .name }}</a>
            {{- with .Children }}
                <ul>
                  {{- range .Children }}
                  <li>{{ . }}</li>
                  {{- end }}
                </ul>
            {{- end }}
        </li>
    {{- end }}
    </ul>
    {{- end }}
  </nav>