  <nav class="flex flex-row justify-center">
    {{ $logo := resources.Get "images/website-header.svg" }}
    <img src="{{ $logo.RelPermalink }}" width="1000" height="100" class="p-2" alt="No Such Animal">
    {{- with index site.Menus "main" }}
    <ul>
    {{- range .menuEntries }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .name }}</a>
            {{- with .Children }}
                <ul>
                  {{- range .Children }}
                  <li>{{ . }}</li>
                  {{- end }}
                </ul>
            {{- end }}
        </li>
    {{- end }}
    </ul>
    {{- end }}
  </nav>
