{{- $image := resources.Get .art -}}
{{- $thumbnail := $image.Resize "200x webp q75" -}}

<div class="flex my-3 flex-col items-center text-center md:flex-row md:text-left md:items-end max-w-1/1">
  <a target="_blank" href="{{ $image.RelPermalink }}">
    <img class="w-20 h-20 mx-3" src="{{ $thumbnail.RelPermalink }}" height="50" width="50">
  </a>
  <div class="h-1/1 flex flex-col justify-between">
    <a class="mb-1" href="{{ .audio }}">
      <h4>{{ .title }}</h4>
    </a>
    <audio controls src="{{ .audio }}"></audio>
  </div>
</div>
