@import "tailwindcss" source("../..");

@theme {
    --font-header: "Grenze", ui-sans-serif, sans-serif;
    --font-serif: "IMFellEnglish", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

main p {
    @apply text-xl my-3 max-w-3xl justify-self-center;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-header;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}
