{{/*
photo parameter: path to photo asset
*/}}

{{ $photo := resources.Get (.Get "photo") }}

<div class="flex justify-center gap-2 my-2">
  {{ with $photo }}
  <!--<img class="max-h-100 max-w-9/10 w-auto" width="500" src="{{ .RelPermalink }}">-->
  {{ end }}
    <iframe style="border: 0; max-width: 700px; min-width: 300px; flex-grow: 1; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=120705411/size=large/bgcol=ffffff/linkcol=fb2c36/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://nosuchanimal.bandcamp.com/album/im-not-angry-youre-angry">I&#39;m Not Angry, You&#39;re Angry by No Such Animal</a></iframe>
</div>
