<div style="grid-column:full;display:grid;grid-template-columns:subgrid;" class="my-8">
  <div style="grid-column:main">
    <div class="w-full text-center lg:text-left">
      <h2 class="sm:text-5xl text-4xl font-bold mb-8">Mailing List</h2>
      <p class="text-lg">Subscribe to our newsletter to hear about shows, demos, new releases, merch drops, ramblings, &c.</p>
    </div>

    <div class="w-full">
      <a target="_blank" href="https://www.bandsintown.com/artist-subscribe/15535557?locale=en&came_from=701&utm_medium=web&utm_source=email_signup_form&utm_campaign=subscribe&bg-color=rgba%28255%2C255%2C255%2C0.99%29&cta-bg-color=rgba%28251%2C44%2C54%2C1%29&cta-border-width=2px&cta-border-radius=0px&cta-border-color=rgba%280%2C0%2C0%2C1%29&cta-text-color=rgba%28255%2C255%2C255%2C1%29&font=Grenze&text-color=rgba%280%2C0%2C0%2C1%29&spn=0&signature=ZZ01a2d3e8b3a56c2e66ebdd7b751cd13bf080e3eb313b65d29c6566e4cc106461&newsletter_email=">
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white text-base font-medium tracking-wide py-3.5 px-6 outline-0 cursor-pointer">
          Subscribe
        </button>
      </a>
    </div>
  </div>
</div>
