<div style="grid-column:full;display:grid;grid-template-columns:subgrid;" class="bg-gradient-to-r from-gray-300 via-gray-100 to-gray-300 py-16">
  <div style="grid-column:main">
    <div class="w-full text-center lg:text-left">
      <h2 class="text-slate-900 sm:text-5xl text-4xl font-bold mb-8">Stay Updated</h2>
      <p class="text-lg text-slate-600">Subscribe to our newsletter to hear about shows, new releases, and merch drops.</p>
    </div>

    <div class="w-full max-lg:max-w-lg">
      <a href="https://www.bandsintown.com/artist-subscribe/15535557-no-such-animal?app_id=9cbe474e58e32180e2db19bfb954d3e3&amp;bg-color=%2398bccc&amp;border-color=%23000000&amp;came_from=700&amp;cta-bg-color=%23000000&amp;cta-border-color=%23000000&amp;cta-border-radius=4px&amp;cta-border-width=0px&amp;cta-text-color=%23FFFFFF&amp;font=Helvetica&amp;play-my-city=false&amp;spn=0&amp;text-color=%23000000&amp;utm_campaign=track&amp;utm_medium=web&amp;utm_source=widget">
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white text-base font-medium tracking-wide py-3.5 px-6 outline-0 cursor-pointer">
          Subscribe
        </button>
      </a>
    </div>
  </div>
</div>
